btnStyle()
    padding 10px 15px
    background transparent  
    border 2px solid #DDD
    color #DDD
    font-family "Josefin-Sans", Arial, Helvetica, sans-serif
    cursor pointer
    text-decoration none

lineStyles() 
            position absolute
            top 50%
            width 30%
            height 5px
            display block
            background #DDD

titleStyles($size, $dir)
    font-size $size
    text-align $dir
    padding 30px
    position relative
    font-family: "Metropolis", Arial, Helvetica, sans-serif